<nb-card class="shadow-2xl rounded-lg h-full nbCard">
  <nb-card-body class="bg-slate-600 h-full ">
    <div class="flex justify-start items-center flex-col w-full h-full">
      <div class="w-full flex items-center mx-4 h-24 flex-col">
        <div class="flex justify-between w-full">
          <h4>{{indexQuestion}}</h4>
          <h4>{{time}}</h4>
        </div>
        <div class="w-full justify-center">
          <h3 class="text-center">{{question}}</h3>
        </div>
      </div>
      <img class="aspect-video w-4/6 shadow-xl my-4 bg-cover mx-auto image" src={{url}}>
    </div>
  </nb-card-body>
</nb-card>
